<div class="grid fade-in">
    <primary-menu selected="'freelance'"></primary-menu>
    <div class="border page-container">
        <p class="freelance-text">
            Experience in a wide variety of writing styles and roles: ghost writing (including letters of recommendation)
            , academic/technical editing, proposal writing, and more.  Contact me with specific projects and I will respond
            with a scope of work and cost estimate.  $95/hr.  References available upon request.
        </p>
    </div>
</div>
