<div class="grid fade-in">
    <primary-menu selected="'fun'"></primary-menu>
    <div class="page-container-offset">
        <div class="col-sm-6">
          <img class="center-padded" src="images/vermeer.jpg"/>
        </div>
        <div class="col-sm-6">
          <div class="content center-padded">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <iframe src="https://player.vimeo.com/video/578117784?h=b17e33d22d" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
    </div>
</div>
