<h3>Projects</h3>
<md-divider></md-divider>
<section id="cards" layout="row" layout-xs="column" layout-wrap>
  <div id="card" flex-xs="100" flex="50">
    <md-content class="md-padding">
      <div>
        <md-card>
          <a href="https://caponiartpark.herokuapp.com" target="_blank">
            <img ng-src="/images/outerspace.jpg" id="project-image" class="md-card-image" alt="Washed Out" />
          </a>
          <md-card-title>
            <md-card-title-text>
              <span id="card-title" class="md-headline">
                <a href="https://caponiartpark.herokuapp.com" target="_blank">Caponi Art Park</a>
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p id="card-description">
              The Caponi Art Park application is an interactive, mobile friendly web app that uses geolocation and a Google Map overlay
              to locate a guest within the park as well as mark significant or nearby sculptures. Guests are able to select
              markers from the map to learn more about each sculpture through associated photos, writings, anecdotes, or
              poems. The application also allows guests to see upcoming events and sign up for the park's email list.
            </p>
          </md-card-content>
        </md-card>
      </div>
    </md-content>
  </div>

  <div id="card" flex-xs="100" flex="50">
    <md-content class="md-padding">
      <div>
        <md-card>
          <a href="https://slack-overflow-prime.herokuapp.com" target="_blank">
            <img ng-src="/images/slackhome.png" id="project-image" class="md-card-image slack-img" alt="Washed Out" />
          </a>
          <md-card-title>
            <md-card-title-text>
              <span id="card-title" class="md-headline">
                <a href="https://slack-overflow-prime.herokuapp.com" target="_blank">Slack Overflow</a>
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p id="card-description">
              Slack Overflow, like Stack Overflow, allows users to search for and ask common development questions. The application is
              targeted toward current Prime students and addresses questions that are most specific to Prime assignments
              and technologies.
            </p>
          </md-card-content>
        </md-card>
      </div>
    </md-content>
  </div>
</section>

<a id="home-link" href="#!/home">home</a>
<br><br><br>